<h1>
    Who is a cool dude?
</h1>


<form  method="post">
    <label class="radio-button-wrap">
        <input type="radio" name="answer" value="0">
        <span class="radio-button">
        Me
    </span>
    </label>
    <label class="radio-button-wrap">
        <input type="radio" name="answer" value="1">
        <span class="radio-button">
        You
    </span>
    </label>
    <br/>
    <label class="radio-button-wrap">
        <input type="radio" name="answer" value="2">
        <span class="radio-button">
        Mr. Baking Stove
    </span>
    </label>
    <label class="radio-button-wrap">
        <input type="radio" name="answer" value="3">
        <span class="radio-button">
        All of the above :)
    </span>
    </label>
    <br/>

    <input class="btn btn-default" type="submit" value="Submit">
</form>
