.layout {
    padding: 3rem 2rem;
}


.radio-button-wrap > input {
    display: none;
}

.radio-button {
    display: inline-block;
    border-radius: 13px;
    border: double;
    color: white;
    background: #ffb358;
    padding: 10px 15px;
    text-align: center;
    width: 400px;
}

input:checked + .radio-button {
    background: #ff7711;
}

input:hover:checked + .radio-button {
    background: #ff7711;
}

input:hover + .radio-button {
    background: #ff943e;
}
