{{#*inline "page"}}
<div align="center">
    Jan Nils Ferner<br>
    <a href="mailto:jn_ferner@hotmail.de">jn_ferner@hotmail.de</a><br>
    Switzerland<br>
    Baumgartenstrasse 2<br>
    8957 Spreitenbach<br>
</div>
{{/inline}}
{{~> (parent)~}}