{{#*inline "page"}}
    <h1 class="page-header">Admin Panel</h1>
    <p class="lead">What do you wish to manage?</p>

    <a class="btn btn-primary admin-button" href="/quiz/admin/category" role="button">Categories</a>

    <a class="btn btn-primary admin-button" href="/quiz/admin/question" role="button">Questions</a>

    <a class="btn btn-primary admin-button" href="/quiz/score" role="button">Scoreboard</a>

{{/inline}}
{{~> (parent)~}}