{{#*inline "page"}}
    <h1 class="page-header">Admin Panel</h1>
    What do you wish to manage?
    <a class="btn btn-default" href="/quiz/admin/category" role="button">Categories</a>
    <a class="btn btn-default" href="/quiz/admin/question" role="button">Questions</a>
{{/inline}}
{{~> (parent)~}}