{{#*inline "page"}}

    <address>
        <strong>Jan Nils Ferner</strong><br/>
        <a href="mailto:jn_ferner@hotmail.de">jn_ferner@hotmail.de</a><br/>
        Messerli Informatik AG<br>
        Baumgartenstrasse 2<br>
        8957 Spreitenbach<br>
        Switzerland<br>
    </address>

{{/inline}}
{{~> (parent)~}}