{{#*inline "page"}}
    <div align="center">
        <h3 class="page-header">Jan Nils Ferner</h3>
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <a href="mailto:jn_ferner@hotmail.de">jn_ferner@hotmail.de</a><br>
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
        Messerli Informatik AG<br>
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        Baumgartenstrasse 2<br>
        8957 Spreitenbach<br>
        Switzerland<br>
    </div>
{{/inline}}
{{~> (parent)~}}