{{#*inline "page"}}
        <h1>Who Wants To Be A Millionaire?</h1>
        {{#if error}}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                Please enter a valid username under 16 characters.
            </div>
        {{/if}}
        <form method="post" class="form-inline">
            <label class="sr-only" for="inlineFormInput">username</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" name="name" required id="inlineFormInput" placeholder="Username">
            <button type="submit" class="btn btn-primary">Start Quiz</button>
        </form>


        <a class="btn btn-secondary" href="/quiz/score" role="button">Scoreboard</a>
{{/inline}}
{{~> (parent)~}}