{{#*inline "page"}}
    <div class="container">
        <h1>{{question.text}}</h1>
        <form method="post">
        <div class="row">
            {{#each question.answers}}
                {{#if-mod @index 2}}
                </div>
                <div class="row">
                {{/if-mod}}
                <div class="col-sm-5">
                    {{#unless this.is_confirmed_wrong}}
                    <label class="radio-button-wrap">
                        <input type="radio" name="answer" value="{{this.id}}">
                        <span class="radio-button">{{this.text}}</span>
                    </label>
                    {{else}}
                        <span class="disabled-radio-button">&nbsp;</span>
                    {{/unless}}
                </div>
            {{/each}}
        </div>
        <div class="row">
            <div class="col-sm-4">
                <input class="btn btn-secondary" formaction="/quiz/play" type="submit" value="50/50 Joker">
            </div>
            <div class="col-sm-4">
                <input class="btn btn-primary" formaction="/quiz/play" type="submit" value="Submit">
            </div>
            <div class="col-sm-4">
                <input class="btn btn-success" formaction="/quiz/play" type="submit" value="Stop playing and save score">
            </div>
        </div>
        </form>
    </div>
{{/inline}}
{{~> (parent)~}}