{{#*inline "page"}}

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Score</th>
                <th>Points</th>
                <th>Game Start</th>
                <th>Game Length</th>
                <th>Chosen Categories</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1.</td>
                <td>Foo</td>
                <td>20</td>
                <td>40</td>
                <td>14:00</td>
                <td>2m</td>
                <td>Bar, Baz</td>
            </tr>
            </tbody>
        </table>
    </div>

{{/inline}}
{{~> (parent)~}}