{{#*inline "page"}}

    <div class="table-responsive table-hover table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Score</th>
                <th>Points</th>
                <th>Game Start</th>
                <th>Game Length</th>
                <th>Chosen Categories</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>foo</td>
                <td>foo</td>
                <td>foo</td>
                <td>foo</td>
                <td>foo</td>
                <td>foo</td>
                <td>foo</td>
            </tr>
            </tbody>
        </table>
    </div>

{{/inline}}
{{~> (parent)~}}