{{#*inline "page"}}
<h1>Welcome to my homepage</h1>
<p class="lead">
    There is not much more here than the basic Bootstrap example page<br>
    Also, a WIP of a school assignment about recreating "Who wants to be a millionaire"<br>
    Which I am writing in Rust.
</p>
{{/inline}}
{{~> (parent)~}}